include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include examples *.conf
recursive-include docs *.md
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
